language: node_js
node_js:
- 8.2.1
script: npm run deploy
# workaround for Travis CI bug https://github.com/travis-ci/travis-ci/issues/8836
sudo: required
addons:
  chrome: stable
# end workaround
deploy:
  # TEST
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    target_branch: gh-pages
    local_dir: dist/static
    on:
      branch: develop
  # PROD
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    repo: code-star/code-star.github.io
    target_branch: master
    local_dir: dist/static
    fqdn: www.codestar.nl
    on:
      branch: master
