ul.job_list_items li a {
  font-size: 10.3em;
}

@media #{$small-only} {

  ul.job_list_items li a {
    font-size: 10.3em;
  }
}

@media #{$large-up} {
  ul.job_list_items li a {
    font-size: 1.3em;
  }
}

ul.job_list_items {
  text-align: right;
  margin-top: 1em;

  li {
    width: 21em;
    height: 3em;
    background: #3B4E6E;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-right: 0 !important;

    &:hover {
      opacity: .8;
    }
  }
}

ul.job_list_items li a {
  // height: 50px;
  height: 100%;
  color: #fff;
  line-height: 1.3 !important;
  font-weight: 400;
  font-size: 1.5em;
  padding: 0.7rem 1rem !important;/* !important because this gets overwritten by .menu.simple a*/
  outline: none;

}


#firstPage .columns{
  white-space: normal;
}


.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid #fff;
  position: absolute;
  left: -15px;
}


#jobs_background {
  height:100vh;
  width: 75vw;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;

  img {
    width: 100%;
    max-height:100%;
  }
}

.jobs_inset_shadow {
  //text-shadow: 0 0 5px #030815;
  background-color: rgba(3,14,32,0.5);
  box-shadow: 0 0 50px 50px rgba(3,14,32,0.5);
}