#firstPage .panel-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}


@media #{$small-only} {

  #firstPage .panel-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .panel-wrapper .panel-container .close-button {
    position: absolute;
    right: 0;
    left: auto;
    background: #757C87;
    width: 2rem;
    height: 1.75rem;
    text-align: center;
    line-height: 1.75rem;
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    top: 0;
    display: block;
  }
}


@media #{$medium-only} {

  #firstPage .panel-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .panel-wrapper .panel-container .close-button {
    position: absolute;
    right: 0;
    left: auto;
    background: #757C87;
    width: 2rem;
    height: 1.75rem;
    text-align: center;
    line-height: 1.75rem;
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    top: 0;
    display: block;
  }
}


#firstPage .panel-wrapper {
  padding-right: 0;
}

.panel-content-item {
  margin-right: 3em;
}


.panel-container .close-button {
  position: absolute;
  left: -2.1rem;
  background: #757C87;
  width: 3rem;
  height: 2.75rem;
  text-align: center;
  line-height: 2.75rem;
  font-weight: bold;
  color: #fff;
  font-size: 2.75rem;
  top: 0;
  display: none;
}

.panel-container .close-button:hover {
  opacity: .8;
}


// Slider
.slide-in {
  visibility: hidden;
  transition:visibility 0s linear 0.2s,opacity 0.2s linear;
  padding-left: 0;
}

.slide-in.is-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s;
  transition: opacity 0.3s ease-in;
}

.slide-in-header {
  position: absolute;
  top: -50px;
  width: 90%;
  height: 50px;
  transition: top 0.3s 0s;
}

.hide-on-mobile.is-visible {
  margin-left: 0;
}

.hide-on-mobile {
  @include breakpoint(medium down) {
    display: none;
  }
}

.is-visible .slide-in-header {
  top: 0;
  transition: top 0.3s 0.3s;
}

.panel-container {
  background: #fff;
  color: #3B4E6E;
  height: 100vh;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  transform: translate3d(100%, 0, 0);
}

.is-visible .panel-container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.panel-content {
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
}
