h2
  | Wij programmeren
p
  | Wij houden van ons vak: programmeren. Aan het einde van de dag telt alleen de code. Wij schrijven die code. Schone code. Code die werkt. Wij programmeren Scala, maar ook TypeScript. JavaScript en soms Haskell. Wij zijn meertalig en niet bang om nieuwe talen te leren.
h2 Onze keuze
