doctype html
html
  include ./templates/head.jade
  body
    #fullpage
      include ./templates/1_jobs.jade
      include ./templates/2_team.jade
      include ./templates/3_why-work.jade
      include ./templates/4_optimize.jade
      include ./templates/5_center.jade
      include ./templates/6_sets-us-apart.jade
      include ./templates/7_features.jade
      include ./templates/8_cases.jade
      include ./templates/9_contact.jade
      include ./templates/scripts.jade
