include l10n_config_nl
include l10n_mixins_nl
include mixins

doctype html
html
  include templates/head
  body
    #fullpage
      include templates/1_jobs
      include templates/2_team
      include templates/3_why-work
      include templates/4_optimize
      include templates/5_center
      include templates/6_sets-us-apart
      include templates/7_features
      include templates/8_cases
      include templates/9_contact
      include templates/scripts
