doctype html
html
  include ./templates/head.jade
  body
    #decorationsSunMoon
    #fullpage
      include ./templates/jobs.jade
      include ./templates/team.jade
      include ./templates/why-work.jade
      include ./templates/optimize.jade
      include ./templates/center.jade
      include ./templates/sets-us-apart.jade
      include ./templates/features.jade
      include ./templates/cases.jade
      include ./templates/contact.jade    
      include ./templates/scripts.jade
