doctype html
html
  include ./templates/head.pug
  body
    #fullpage
      include ./templates/1_jobs.pug
      include ./templates/2_team.pug
      include ./templates/3_why-work.pug
      include ./templates/4_optimize.pug
      include ./templates/5_center.pug
      include ./templates/6_sets-us-apart.pug
      include ./templates/7_features.pug
      include ./templates/8_cases.pug
      include ./templates/9_contact.pug
      include ./templates/scripts.pug
