doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="refresh", content="3; https://www.ordina.nl/nl-nl/evenementen/20170331-confluent-developer-training/")
    title Codestar
  body
    p You are now being redirected to the registration form.
    script.
      window.location = "https://www.ordina.nl/nl-nl/evenementen/20170331-confluent-developer-training/"