- locals.config = {
-   locale: 'en',
-   switch: {
-     label: 'Nederlands',
-     link: 'index.html'
-   },
-   tokens: {
-     I_WANT_TO_PROGRAM: 'I want to program',
-     I_WANT_TO_TAKE_THE_NEXT_STEP: 'I want to take the next step',
-     WHY_YOU_WOULD_WORK_FOR_US: 'Why you want to program for us',
-     WE: 'We',
-     menu: {
-       YOU: 'You',
-       WE: 'We',
-       OUR_MOMENTS: 'Our Moments',
-       THIS_IS_WHY_YOU_WANT_TO_CODE_WITH_US: 'This is why you want to code with us',
-       WE_CODE: 'We code',
-       TIME_TO_TAKE_THE_NEXT_STEP: 'Time to take the next step',
-       WHY_WHAT_WE_DO_DOES_WORK: 'Why what we do does work'
-     },
-     jobs: {
-       I: 'I',
-       _INFO: 'We are looking for team players. ... Functional. Reactive. Full Stack.'
-     },
-     contact: {
-       placeholders: {
-         firstName: 'First name',
-         lastName: 'Last name',
-         company: 'Company',
-         phone: 'Phone number',
-         email: 'Email adress',
-         message: 'Message',
-       },
-       validation: {
-         firstName: 'Fill in your first name.',
-         lastName: 'Fill in your last name.',
-         phone: 'Fill in a valid phone number.',
-         email: 'Fill in a valid email address.',
-         message: 'Fill in a message.',
-       },
-       buttons: {
-         submit: 'Send message',
-         reset: 'Reset all',
-         sendEmail: 'Send email',
-         callUs: 'Call us',
-         visitUs: 'Visit us',
-       }
-     }
-   }
- }
