- locals.config = {
-   locale: 'en',
-   switch: {
-     label: 'Nederlands',
-     link: 'index.html'
-   },
-   tokens: {
-     I_WANT_TO_PROGRAM: 'I want to program',
-     I_WANT_TO_TAKE_THE_NEXT_STEP: 'I want to take the next step',
-     menu: {
-       YOU: 'You',
-       WE: 'We',
-       OUR_MOMENTS: 'Our Moments',
-       THIS_IS_WHY_YOU_WANT_TO_CODE_WITH_US: 'This is why you want to code with us',
-       WE_CODE: 'We code',
-       TIME_TO_TAKE_THE_NEXT_STEP: 'Time to take the next step',
-       WHY_WHAT_WE_DO_DOES_WORK: 'Why what we do does work'
-     }
-   }
- }