- locals.config = {
-   locale: 'en',
-   switch: {
-     label: 'Nederlands',
-     link: 'index.html'
-   },
-   tokens: {
-     I_WANT_TO_PROGRAM: 'I want to program',
-     I_WANT_TO_TAKE_THE_NEXT_STEP: 'I want to take the next step'
-   }
- }