- locals.config = {
-   locale: 'nl',
-   switch: {
-     label: 'English',
-     link: 'index_en.html'
-   },
-   tokens: {
-     I_WANT_TO_PROGRAM: 'Ik wil programmeren',
-     I_WANT_TO_TAKE_THE_NEXT_STEP: 'Ik wil de volgende stap zetten',
-     menu: {
-       YOU: 'Jij',
-       WE: 'Wij',
-       OUR_MOMENTS: 'Onze Momenten ',
-       THIS_IS_WHY_YOU_WANT_TO_CODE_WITH_US: 'Hierom wil jij voor ons programmeren',
-       WE_CODE: 'Wij programmeren',
-       TIME_TO_TAKE_THE_NEXT_STEP: 'Tijd om de volgende stap te zetten',
-       WHY_WHAT_WE_DO_DOES_WORK: 'Waarom wat wij doen wel werkt'
-     }
-   },
-   paths: {
-     center: '../content/nl/center'
-   }
- }