// jobs
mixin include_jobs_job_scala
  include translations/en/jobs/job_scala

mixin include_jobs_job_scala_jr
  include translations/en/jobs/job_scala-jr

mixin include_jobs_job_frontend
  include:marked translations/en/jobs/job_frontend.md

mixin include_jobs_job_bigdata
  include:marked translations/en/jobs/job_bigdata.md

// why work for us
mixin include_why_work
  include translations/en/why_work

// we program
mixin include_attract
  include translations/en/attract

// center
mixin include_center_main
  include translations/en/center

// difference
mixin include_next_step
  include translations/en/next_step

mixin include_case_skg
  include:markdown-it translations/en/cases/skg.md

mixin include_case_rll
  include:markdown-it translations/en/cases/rll.md

// contact
mixin include_contact
  include translations/en/contact

mixin include_contact_success
  include translations/en/contact_success

mixin include_contact_error
  include translations/en/contact_error

// announcements
mixin announcement_akka
  +announcement('http://go.ordina.nl/l/83122/2017-09-04/841t88', 'Training: Lightbend Akka for Scala - Professional (16-17 November)')(class='show-for-large')
    span In this two-day course you will learn to develop reactive applications with the Akka toolkit and runtime. The combination of theory and hands-on exercises provide the perfect environment to best learn to use Akka with Scala.
