- locals.config = {
-   locale: 'nl',
-   switch: {
-     label: 'English',
-     link: 'index_en.html'
-   },
-   tokens: {
-     I_WANT_TO_PROGRAM: 'Ik wil programmeren',
-     I_WANT_TO_TAKE_THE_NEXT_STEP: 'Ik wil de volgende stap zetten'
-   },
-   paths: {
-     center: '../content/nl/center'
-   }
- }