// jobs
mixin include_jobs_job_scala
  include translations/nl/jobs/job_scala

mixin include_jobs_job_scala_jr
  include translations/nl/jobs/job_scala-jr

mixin include_jobs_job_frontend
  include:marked translations/nl/jobs/job_frontend.md

mixin include_jobs_job_bigdata
  include:marked translations/nl/jobs/job_bigdata.md

// why work for us
mixin include_why_work
  include translations/nl/why_work

// we program
mixin include_attract
  include translations/nl/attract

// center
mixin include_center_main
  include translations/nl/center

// next step
mixin include_next_step
  include translations/nl/next_step

mixin include_case_skg
  include:markdown-it translations/nl/cases/skg.md

mixin include_case_rll
  include:markdown-it translations/nl/cases/rll.md

mixin include_case_ing
  include:markdown-it translations/nl/cases/ing.md

// contact
mixin include_contact
  include translations/nl/contact

mixin include_contact_success
  include translations/nl/contact_success

mixin include_contact_error
  include translations/nl/contact_error

// announcements
mixin announcement_akka
  +announcement('http://go.ordina.nl/l/83122/2017-09-04/841t88', 'Training: Lightbend Akka for Scala - Professional (16-17 November)')
    span(class='show-for-large') Op deze twee-daagse training leer je reactive applicaties ontwikkelen met de Akka toolkit en runtime. De combinatie van theorie en hands-on opdrachten biedt de perfecte omgeving om Akka met Scala te leren gebruiken.

mixin announcement_bigdata
  +announcement('https://www.meetup.com/Code-Star-Night/events/246608174/', 'Meetup: Data Intensive processing in practice (8 Maart)')
    span(class='show-for-large') Met talks over Spark (Marcin Szymaniuk) en Kafka Streams (Casper Koning)
