doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="refresh", content="3; http://codestar.nl")
    title Codestar
  body
    p You are now being redirected to the registration form.
    script.
      window.location = "http://codestar.nl"