@import "partials/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-flex-grid;
@import "partials/base";
@include foundation-everything($flex: true);

body {
  white-space: nowrap;
}

.mainContainer {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  display: inline-block;
  width: 70vw;
  padding: 5em 0;
  vertical-align: top;
}
