@import "partials/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-flex-grid;
@import "partials/base";
@include foundation-everything($flex: true);

@font-face {
  font-family: Conduit;
  src: url("../fonts/ConduitITCStd.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: Conduit;
  src: url("../fonts/ConduitITCStd-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Conduit;
  src: url("../fonts/ConduitITCStd-Italic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: Conduit;
  src: url("../fonts/ConduitITCStd-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  height: 100%;
}

body {
  font-family: Conduit;
  color: white;
  white-space: nowrap;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxMDIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMwMDA2MTMiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDU0YWQiIG9mZnNldD0iMC41Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2IwZDlmNyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzEwMikiIC8+Cjwvc3ZnPg==);
  background-repeat: no-repeat;
  // 100 * n_sections
  background-size: 500vw;
}

h1, h2 {
  text-transform: uppercase;
}

.mainContainer {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
