@import "partials/settings";
@import "~foundation-sites/scss/foundation";
@import "partials/base";
@import "../vendor/unitegallery/package/unitegallery/css/unite-gallery.css";
@import "../vendor/unitegallery/source/unitegallery/themes/video/skin-right-no-thumb.css";
@import "partials/team";
@import "partials/jobs";
@import "partials/slide-panel";
@include foundation-everything($flex: true);

@font-face {
  font-family: Conduit;
  /* Don't use line-breaks here, SASS doesn't like them */
  src: url("../fonts/ConduitITCStd.otf") format("opentype"), url("../fonts/ConduitITCStd.woff") format("woff");;
  font-style: normal;
}

@font-face {
  font-family: Conduit;
  src: url("../fonts/ConduitITCStd-Bold.otf") format("opentype"), url("../fonts/ConduitITCStd-Bold.woff") format("woff");;
  font-weight: bold;
}

@font-face {
  font-family: Conduit;
  src: url("../fonts/ConduitITCStd-Italic.otf") format("opentype"), url("../fonts/ConduitITCStd-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: Conduit;
  src: url("../fonts/ConduitITCStd-BoldItalic.otf") format("opentype"), url("../fonts/ConduitITCStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@media #{$small-only} {
  body,html {
    font-size: 5vmin;
  }

  #logo {
    width: 70vmin;
  }

}
.inline-logo {
  height: 1em;
  margin-bottom: -1px;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.inline-logo-nomargin {
  margin-left: 0;
  margin-right: 0;
}

.menu .inline-logo {
  margin-right: -0.05em;
}

@media #{$medium-only} {
  body,html {
    // previously 4vmin, but that got too large
    // font-size: 26px;
    font-size: 4.5vmin;
  }
  #logo {
    width: 70vmin;
  }

}

.row {
  max-width: 100%;
}
body {
  background: #0f569a;
  font-family: Conduit;
  color: white;
  white-space: normal;
  background-repeat: no-repeat;
  // 100 * n_sections
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  line-height: 1.1;
}

.mainContainer {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh !important;
  margin: 0;
  vertical-align: top;
}

section {
    min-height: 700px;
  }

.work-arguments li, dd {
  white-space: normal;
  margin-top: 0.4em;
  margin-bottom: 1em;
}

dt {
  display: inline-block;
  color: rgba(5, 55, 100, 1);
  background-color: $white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4em 0.8em 0.1em 0.65em;
  margin: 0.75em 0em 1em 0em;
  vertical-align: middle;

}

.content, .slide {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.decorations {
  width: 100%;
}

.noMouse {
  pointer-events: none;
}

#mouseIcon {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}

#logo {
  margin-top: 60px;
  margin-bottom: 20px;
}

#sunburstContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.sunburst-svg {
  width: 100vmin;
  height: 100vmin;
}

#sunburst3 {
  position: absolute;
  top: 50%;
  margin-top: -800px;
  left: 50%;
  margin-left: -800px;
  z-index: -1;
}

#sunburst2 {
  //transform-origin: 50% 50%;
  //animation: orbitSpin 300s infinite linear;
}

@keyframes orbitSpin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

#sunburst path {
  stroke: rgb(60, 115, 165);
  fill-rule: evenodd;
}

#sunburst2 path {
  stroke: rgba(255, 255, 255, 1.0);
  fill-rule: evenodd;
}

#sunburst2 {
  opacity: 0.05;
}

.force-3d-accel {
  /* Safari performance smoothing */
  //transform: translateZ(0);
  //backface-visibility: hidden;
}

#moon {
  @extend .force-3d-accel;
  will-change: bottom, right, opacity;
  //display: none;
  opacity: 0;
  position: fixed;
  bottom: calc(5% - 155px);
  right: calc(0% - 155px);
  opacity: 1.0;
  z-index: 1;
  transition: right 1100ms ease, bottom 1100ms ease, opacity 350ms ease;
  @include breakpoint(medium down) {
    display: none !important;
  }
}

#sun {
  @extend .force-3d-accel;
  will-change: top, left, opacity;
  //display: none;
  opacity: 0;
  position: fixed;
  top: calc(-6% - 3 * 55px);
  left: calc(0% - 155px);
  opacity: 1.0;
  z-index: 1;
  transition: left 1100ms ease, top 1100ms ease, opacity 350ms ease;
  @include breakpoint(medium down) {
    display: none !important;
  }
}

.bgPixel {
  will-change: width, height;
  position: fixed;
  width: 0;
  height: 0;
  z-index: 0;
  opacity: 0.5;
  box-shadow: 0 0 5px;
  @include breakpoint(medium down) {
    display: none;
  }
  //transition: width 100ms ease, height 100ms ease;
}

.fp-responsive #moon, .fp-responsive #sun {
  opacity: 0 !important;
}

#fullpage > section {
  @include breakpoint(medium down) {
    padding-top: 2em;
  }
}

#thirdPage header {
  @include breakpoint(medium down) {
    padding-top: 3em;
  }
}

.menu-shadow {
  text-shadow: 0px 0px 2px rgba(12, 77, 120, 0.7);
}

#fixed-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
  height: auto;
  z-index: 3;
  @include breakpoint(medium down) {
    width: 100%;
  }
}

#fixed-menu ul {
  @include breakpoint(medium down) {
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    padding-top: 2.1em;
    padding-bottom: 0.8em;
    position: absolute;
    margin-left: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

#fixed-menu .menu {
  display: none;
  margin-top: 0.2em;
  clear: both;
  float: left;
  margin-left: 1.7em;
}

#fixed-menu .menu li {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 3px;
  @extend .menu-shadow;
}

#fixed-menu .menu li.menu_divider {
  border-bottom: none;
  height: 1em;
  @include breakpoint(medium down) {
    height: 1.5em;
  }
}

#fixed-menu .menu li.menu_divider::after {
  background: none;
}

#fixed-menu .menu li a {
  color: #fff;
  padding: 0.3rem 0;
  padding-bottom: 0;
  margin-bottom: 0;
  @include breakpoint(medium down) {
    font-size: 1.4em;
  }
}

#fixed-menu .menu li:last-child::after {
  background: none;
}

#fixed-menu .menu li::after{
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #444;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  @include breakpoint(medium down) {
    height: 2px;
  }
 }

.asterisk {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 0.5em;
  width: 2.5em;
  @include breakpoint(medium down) {
    display: block;
    width: 100%;
  }
  height: 0.5em;
  overflow: hidden;
}

#asterisk-image {
  height: 0.4em;
  width: 0.4em;
  vertical-align: top;
}

#menu-logo {
  display: none;
  height: 0.4em;
  width: 2em;
  margin-left: 0.1em;
  vertical-align: top;
  //margin-top: -0.4em;
  @extend .menu-shadow;
}


.asterisk:hover {
  cursor: pointer;
}

.menu.simple li {
  margin-right: 0;
}

.codestar-button {
  border: 1px solid white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0.6em;
}

.codestar-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.codestar-button:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.codestar-button:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.codestar-button:visited {
  background-color: transparent;
}

.why {
  white-space: normal;
}

ul.why li:before,
ul.key_skills li:before {
  content: '+';
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 0.5em;
  margin-left: -1em;
}

ul.key_skills li:before {
  margin-left: 0;
  padding-right: 0.2em;
}

ul.why li,
ul.key_skills li {
  list-style: none;
  line-height: normal;
  margin-bottom: 1.1em;
}

.team-link, .case-link {
  stroke-width: 1px;
  stroke: white;
}

.team-node, .case-node {
  cursor: pointer;
}

#teamTagline {
  font-style: italic;
}

#map {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  pointer-events: none;
}

.contact_form_container {
  padding-right: 0;
}

#contact_form {
  margin-left: 10px;
}

.map_container {
  padding-left: 0;
  position: relative;
  height: 100%;
}

#contact_form .row .columns {
  padding-right: 2px;
  padding-left: 0;
}

#map {
  position: absolute;
}

.contact_data_table {
  width: 100%;
  background: rgb(0, 32, 65);
  opacity: 0.8;
  position: absolute;
  z-index: 5;
  bottom: 0;
  margin-bottom: 0;
}

.contact_data_table table {
  margin-bottom: 0;
}

.contact_data_table tbody {
  background: none;
  border: none;
}

.contact_data_table td {
  padding: 1em;
}

.contact_data_table tr:nth-child(even) {
  background: none;
}

.contact_data_table .contact_icon {
  padding-right: 0.5em;
  text-align: right;
}

.contact_data_table .contact_info {
  padding-left: 0;
  padding-top: 1.4em;
}

.contact_button a {
  width: 100%;
  margin: 0;
}

.decorations2 {
  position: absolute;
  top: 0;
  z-index: 10;
}

#curved-lines {
    position: absolute;
    max-width: none;
    width: 100vw;
    height: 200vw;
    top: -100vw;
    transform: translateY(-50vh);
}
#big-lines {
    position: absolute;
    max-width: none;
    height: 100vh;
    width: 13.73vh;
    top: -100vh;
    left: -6.866vh;
    transform: translateX(50vw);
}
#small-lines {
    position: absolute;
    max-width: none;
    height: 100vh;
    width: 13.73vh;
    top: -100vh;
    left: -6.866vh;
    transform: translateX(50vw);
}

.featureTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 120%;
}

.featureIcon {
  height: 3em;
}

.featureIcon:hover, .featureTitle:hover {
  cursor: pointer;
}

.solar {
  tbody {
    border: none;
  }
  width: 1px;
  border-spacing: 0;
  border-collapse: collapse;
  opacity: 0.1;
}

.array {
  padding: 0;
  perspective: 250px;
}

.panel {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 25px 25px 45px 25px;
}

#solararrayContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.form-input:placeholder-shown {
  text-transform: uppercase;
  opacity: 1.0;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding-left: 0.7em;
  padding-top: 0.85em;
}

.form-input::-webkit-input-placeholder{
  color: white;
}
.form-input::-moz-placeholder {
  color: white;
  text-transform: uppercase;
  opacity: 1.0;
  padding-left: 0.7em;
  padding-top: 0.85em;
}
.form-input::-ms-input-placeholder {
  color: white;
  text-transform: uppercase;
  opacity: 1.0;
  padding-left: 0.7em;
  padding-top: 0.85em;
}
.form-input:-ms-input-placeholder {
  color: white;
  text-transform: uppercase;
  opacity: 1.0;
  padding-left: 0.7em;
  padding-top: 0.45em;
}
.form-input::placeholder {
  color: white;
}

.form-input:focus {
  border: 2px solid rgb(0, 75, 145);
  background-color: rgba(255, 255, 255, 0.5);
}
.form-input {
  border: 2px solid rgba(255, 255, 255, 0.0);
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
  // border: none;
  color: rgb(0, 75, 145);
  padding-left: 0.7em;
  padding-top: 0.85em;
  margin-bottom: 2px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .form-input {
    padding-top: 0.4em;
  }
}

.form-error.is-visible {
  margin-top: 5px;
  margin-bottom: 0;
}

.columns-space {
  margin-top: 1em;
}

#bericht {
  height: 6em;
}

#form-buttons {
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
}

.vertical-center {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.no-padding {
  padding: 0;
}

@media #{$small-only} {
  .cloud {
    opacity: 0.5;
  }
}

@media #{$medium-only} {
  .cloud {
    opacity: 0.5;
  }
}

.cloud1 {
  position: absolute;
  max-height: 100vh;
  width: auto;
  right: 0;
  top: 50vh;
  transform: translateY(-50%);
}

.cloud2 {
  position: absolute;
  max-height: 60vh;
  width: auto;
  left: -30vh;
  top: -25vh;
}

.cloud3 {
  position: absolute;
  max-height: 70vh;
  width: auto;
  right: 0;
  bottom: -10vh;
}

.cloud4 {
  position: absolute;
  max-height: 100vh;
  width: auto;
  left: 0;
  top: 50vh;
  transform: translateY(-50%);
}

.cloud5 {
  position: absolute;
  max-height: 50vh;
  width: auto;
  right: 5vw;
  bottom: 0;
}

.email-success {
  color: #fff;
  border: none;
  padding-bottom: 0.1em;
  background-color: rgba(225, 255, 255, 0.2) !important;
  display: none;
  margin-top: 20px;
}

.close-button {
  color: white;
}

.email-fail {
  color: #fff;
  background-color: rgba(236, 38, 38, 0.8) !important;
  padding-bottom: 0.1em;
  border: none;
  display: none;
  margin-top: 20px;
}

.codestar-button[type="reset"] {
  margin-right: 3px;
}

p a {
  padding: 4px 4px 2px 4px;
  border-radius: 0.25em;
  background-color: white;
}

p a:link {
    color: #2199e8;
}

p a:visited {
    color: #2199e8;
}

p a:hover {
    color: #2199e8;
    opacity: 0.8;
}

p a:active {
    color: #2199e8;
}

.navigate-arrows {
  margin: 1rem;
  opacity: 0.5;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.navigate-up {
  top: 0;
}

.navigate-up::after {
  content: "▲";
  margin-left: 0.4em;
}

.navigate-down {
  bottom: 0;
}

.navigate-down::after {
  content: "▼";
  margin-left: 0.4em;
}

#fp-nav ul li a span {
  background-color: white !important;
  opacity: 0.5;
}

#caseInfo {
  display: none;
}

@media #{$large-up} {
  #caseInfo {
    height: 320px;
  }
}

#teamInfo {
  display: none;
}

@media #{$large-up} {
  #teamInfo {
    height: 200px;
  }
}

.debug {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
}

#debugsize {
  width: 50px;
  height: 50px;
  font-size: 40px;
  border: 2px solid red;
  text-align: center;
  vertical-align: middle;
}

#debugsize div {
  display: none;
}

@media #{$small-only} {
  #debugsmall {
    display: block !important;
  }
}

@media #{$medium-only} {
  #debugmed {
    display: block !important;
  }
}

@media #{$large-only} {
  #debuglarge {
    display: block !important;
  }
}

@media #{$xlarge-up} {
  #debugxlarge {
    display: block !important;
  }
}

.stack-logo {
  width: 4em;
  height: auto;
  margin-right: 2em;
  margin-bottom: 1em;
}

.homePageLink {
  cursor: pointer;
  pointer-events: auto;
}

.fp-controlArrow.fp-prev {
  left: 3vw;
  border-width: 19.25px 17px 19.25px 0;
  border-color: transparent rgba(255,255,255,0.5) transparent transparent;

}
.fp-controlArrow.fp-next {
  right: 3vw;
  border-width: 19.25px 0 19.25px 17px;
  border-color: transparent transparent transparent rgba(255,255,255,0.5);
}
.fp-controlArrow {
  margin-top: -19px;
}
