h2 Programmeer met hart en hoofd

p
    b Klantcase: 
    | de haven van Rotterdam als 
    i greenfield. 
    | Met een team van Codestar collega’s maak jij het verschil 
    | voor het havenbedrijf op gebied van techniek. Om informatiegolven rond schepen te overzien en realtime 
    | datastromen te realiseren. Door te innoveren met functional programming, reactive streams, cloud native 
    | en machine learning. Via Scala, Play, Akka, Kafka, Spark, RX, Angular2 en React. 
    | Naar de slimste haven ter wereld.

h3 #DaaromBijCodestar

p
    | Wij creëren de nieuwe wereld van 
    i fast 
    | en 
    i streaming data. 
    | Met schaalbare en reactive apps. Die inspelen op complexe uitdagingen. 
    | Door te programmeren. Met ons hart en hoofd. Zo maken wij het verschil. 
    | Voor klanten die de volgende stap willen zetten. 
    | Vanuit een bedrijfscultuur waarin continuous learning, samenwerken en programmeren centraal staan. 
    | Met R&amp;D-dagen, Campus fridays en teamweekenden met internationale topcoaches. 
    | Wij zijn het #1-bedrijf voor Full Stack Scala en Fast Data-oplossingen in Nederland.

h3 #WieBenJij?

p
    | Wij zoeken teamspelers. Gepassioneerd en leergierig. 
    | Die programmeren. Ook in hun vrije tijd. Omdat ze nieuwsgierig zijn. 
    | Vaklui die het verschil kunnen maken. Door baanbrekende ideeën leven in te blazen. 
    | Die gaan voor resultaat, maar nooit ten koste van kwaliteit. En klanten daarvan kunnen overtuigen. 
    | Maar ook fouten durven te maken. Omdat innoveren vallen en opstaan is. 
    | Functional. Reactive. Full Stack. 

ul
    li Hbo-/wo-denkniveau
    li Een trackrecord in Scala Development

h3 #DitVerdienJe

p
    | We doen er alles aan om jouw groei optimaal te ondersteunen. Zodat je 
    i master 
    | kunt worden in jouw vakgebied.

ul
    li 
        b Nieuwste Macbook of Microsoft Surface; 
        | bepaal zelf hoe je werkt.
    li 
        b R&amp;D dagen in Nieuwegein; 
        | focus op thema’s waarin jij expert wil worden.
    li
        b Campus fridays; 
        | werk op kantoor met collega’s die je helpen als je vastloopt én je inspireren met hun projecten en code.
    li
        b 1 buitenlandse topconferentie; 
        | voor de inspiratie om voorop te lopen.
    li 
        b 2 Codecamps per jaar met toptrainers; 
        | in de woonkamer van een vakantiewoning, omdat we dan zelf bepalen wanneer de cursusdag is afgelopen en de strand-BBQ daarna meteen kan beginnen.
    li
        b Vast contract: 
        | ons commitment voor jouw groei naar master.

h3 #MeerWeten?

p
    | Meer weten over ons Scala-huis? Dat vertellen we graag persoonlijk. 
    | Dus als je er voor open staat om ons beter te leren kennen, neem dan deel aan een van onze trainingen of evenementen. 
    | Die organiseren we regelmatig en zijn voor iedereen kosteloos toegankelijk. 
    | Of maak gewoon een afspraak. Mail gerust onze business unit manager: 
    a(href='mailto:martin.weidner@ordina.nl') martin.weidner@ordina.nl

small
    b Acquisitie naar aanleiding van deze vacature wordt niet op prijs gesteld.