h2
    a(href='https://www.werkenbijordina.nl/nl-nl/vacatureaanbod/sollicitatieformulier/?pxsid=715738') Solliciteer Direct
p
    | We bouwen met Codestar daarom een nieuw team van top developers
    | die gezamenlijk de mogelijkheden van het Scala ecosystem gaan onderzoeken én benutten voor onze klanten.
    | Dat wordt dus flink pionieren.
    | Wij zien Scala als next step om snel schaalbare high performance backend oplossingen voor onze klanten
    | te kunnen realiseren (bijvoorbeeld in combinatie met Akka).
    | Maar ook om razendsnel een nieuwe responsive webapplicatie te kunnen bouwen (met bijvoorbeeld het Play! framework).
    | Je gaat dus aan de slag met de laatste technologieën.
    | Hierbij krijg je alle ruimte voor jouw ideeën, zodat we samen leren en uitgroeien tot een gerenommeerd Scala-huis.
    | We willen echt een begrip in de Nederlandse markt worden.
    | We zijn daarom bereid flink in je te investeren en jouw verdere ontwikkeling te faciliteren.
    | We gaan jouw ambities zeker niet in de weg zitten.
    | Voor creatieve, proactieve specialisten met de drang om zich te bewijzen op dit vlak, bieden wij nu de ideale ‘speeltuin’.
p
    | De kennis die je opdoet draag je, samen met je collega’s, uit aan de community én klanten.
    | Door met elkaar in gesprek te gaan profiteren we allemaal van elkaars expertise en inzichten.
    | Zo maken we de mogelijkheden van Scala bekend bij een groter publiek.
    | Wij vinden dat een onderwerp als Scala dit verdient.
    | Heb jij de communicatieskills om deze ontwikkeling goed over de bühne te brengen?
p
    | Deze aanpak past ook prima in de cultuur van onze afdeling J-Technologies.
    | We houden niet van formele toestanden, rangen, standen of hokjes.
    | Wij waarderen wie je bent en wat je graag zou willen doen.
    | Het gaat ons om de ruimte voor innovatie, kennisdeling en jouw bijdrage hieraan als persoon.
    | Het zijn uiteindelijk mensen die maken dat ICT werkt en er toe doet.
    | We zijn klein genoeg voor betrokkenheid en snelle innovaties en tegelijkertijd groot genoeg
    | om je complexe projecten aan te kunnen bieden en ruimte te creëren voor research en development.
p
    | Wij zijn op zoek naar ontwikkelaars die passie hebben voor techniek en hun vak verstaan.
    | Dit betekent dat je minimaal drie verschillende programmeertalen beheerst, waaronder Scala en Java.
    | Je bent ook uitstekend op de hoogte van de laatste ontwikkelingen in je vakgebied en experimenteert daar graag mee.
p
    | Je hebt de kennis om verschillende architectuurstijlen te implementeren met de bijbehorende technieken.
    | Jij kunt een klant adviseren over welke oplossing het beste past en je bent in staat deze keuze
    | zowel technisch als vanuit een klantperspectief te onderbouwen.
h2 Ons Aanbod
p
    | Uiteraard kun je ook bij ons rekenen op een goed pakket aan arbeidsvoorwaarden (zoals je dat al gewend bent),
    | maar dat is niet meer dan normaal.
    | Bel of mail ons gerust als je wilt weten hoe dit pakket er voor jou precies uit kan zien.
    | Naast het ‘zakelijke deel’ ziet ons aanbod er als volgt uit:
ul.simple.vertical
    li Het startup-gevoel
    li Alle ruimte om je als ‘meester’ te vestigen, kleur te geven aan het vak en de lat hoog te leggen
    li Een technische manager, die jouw taal spreekt en je begeleidt met oprechte aandacht voor jouw ideeën en verdere carrièrewensen
    li Veel technische trainingen (volgen én geven), waarbij je ook je collega’s tegenkomt
    li 10% van de week tijd om gezamenlijk met jouw collega’s ontwikkelingen uit te werken die onze start-up laten groeien.
    li een aantal keer per jaar een social event (denk aan escape rooms, etentjes ed.)
p
    | Het blijft lastig om in een vacaturetekst het echte idee en plan achter ons Scala-huis over te brengen.
    | Dat doen we liever persoonlijk.
    | Dus als je er voor open staat om ons beter te leren kennen, dan drinken we graag eens een bak koffie met je.
    | Je kunt er ook voor kiezen om deel te nemen aan een van onze trainingen of evenementen.
    | Die organiseren we namelijk heel regelmatig en zijn voor iedereen kosteloos toegankelijk.
p
    a(href='https://www.werkenbijordina.nl/nl-nl/vacatureaanbod/sollicitatieformulier/?pxsid=715738') Doe je mee?
    | Bellen of mailen met de betrokken business unit manager kan ook:
    a(href="mailto: martin.weidner@ordina.nl") Martin Weidner
    |.
