h2
    a(href='https://www.werkenbijordina.nl/nl-nl/vacatureaanbod/sollicitatieformulier/?pxsid=749824') Solliciteer Direct
p
    | JavaScript is volwassen.
    | Het is geen bijzaak meer voor HTML pagina’s.
    | Integendeel, het is de backbone van huidige web applicaties en dat willen wij met onze nieuwe unit uitstralen.
    | Wij zien JavaScript als een ’state of the art’ programmeertaal, dat vraagt om echte vakmensen voor wie
    | Continuous Integration met Grunt en Yeoman, Unit Testing met Jasmine/Mocha en Version Control met Git vanzelfsprekend is.
p
    | Je gaat binnen dit label nauw samen werken met ons Scala developers, waarmee wij afgelopen jaar een topspeler
    | zijn geworden op gebied van state of the art technology, reactive platform en functional programming.
    | Deel je onze passie en wil je laten zien dat jij ons nog wat kunt leren kom dan met ons praten want
    | een dergelijke kans krijg je niet vaak.
p
    | Ons label wordt gevormd door uitblinkers die moderne JavaScript applicaties kunnen ontwerpen en bouwen,
    | of het nu single page web applicaties met AngularJS of backend API’s met Node.js zijn.
    | En die mag jij kiezen.
p
    | Je gaat met je collega’s aan de slag met de laatste technologieën, zoals Typescript of React.js,
    | Flux, Node.js of Response.js. Hierbij krijg je alle ruimte voor jouw ideeën, zodat we samen leren en groeien.
    | We worden samen met jou een begrip in de Nederlandse markt.
    | We zijn daarom bereid flink in je te investeren en jouw verdere ontwikkeling te faciliteren.
    | Voor creatieve & proactieve specialisten met de drang om zich te bewijzen op dit vlak, bieden wij de ideale ‘speeltuin’.
p
    | Deze aanpak past ook prima in de cultuur van deze nieuwe unit.
    | We houden niet van formele toestanden, rangen, standen of hokjes.
    | Wij waarderen je om wie je bent en wat je graag zou willen doen.
    | Het gaat ons om de ruimte voor innovatie, kennisdeling en jouw bijdrage hieraan als persoon.
    | Het zijn uiteindelijk mensen die maken dat ICT werkt en er toe doet.
    | We zijn klein genoeg voor betrokkenheid en snelle innovaties en tegelijkertijd groot genoeg om
    | je complexe projecten aan te kunnen bieden en ruimte te creëren voor research en development.
h2 Ons Aanbod
p
    | Uiteraard kun je ook bij ons rekenen op een goed pakket aan arbeidsvoorwaarden (zoals je dat al gewend bent),
    | maar dat is niet meer dan normaal.
    | Bel of mail ons gerust als je wilt weten hoe dit pakket er voor jou precies uit kan zien.
    | Naast het ‘zakelijke deel’ ziet ons aanbod er als volgt uit:
ul.simple.vertical
    li Het startup-gevoel
    li Alle ruimte om je als ‘meester’ te vestigen, kleur te geven aan het vak en de lat hoog te leggen
    li Een technische manager, die jouw taal spreekt en je begeleidt met oprechte aandacht voor jouw ideeën en verdere carrièrewensen
    li Veel technische trainingen (volgen én geven), waarbij je ook je collega’s tegenkomt
    li 10% van de week tijd om gezamenlijk met jouw collega’s ontwikkelingen uit te werken die onze start-up laten groeien.
    li een aantal keer per jaar een social event (denk aan escape rooms, etentjes ed.
p
    a(href='https://www.werkenbijordina.nl/nl-nl/vacatureaanbod/sollicitatieformulier/?pxsid=715738') Doe je mee?
    | Bellen of mailen met de betrokken business unit manager kan ook:
    a(href="mailto: martin.weidner@ordina.nl") Martin Weidner
    |.

