h2
    a(href='https://www.werkenbijordina.nl/nl-nl/vacatureaanbod/sollicitatieformulier/?pxsid=816069') Solliciteer Direct
h3 #daarombijordina
p
    | Bij Codestar houden wij van ons vak: programmeren. Aan het einde van de dag telt alleen de code. Ook voor Frontend Development.
    | Code is geen bijzaak meer voor HTML-pagina’s en mooie Photoshop-plaatjes, maar de backbone voor moderne responsive single page webapplicaties.
    | Hiervoor heb je Frontend Developers nodig, die van code houden. 
p
    | En die willen wij graag ontwikkelen met onze nieuwe Young Professional Frontend Developer programma.
p
    | Wil jij je ontwikkelen tot de autoriteit op gebied van HTML5, JavaScript, TypeScript, CSS, AngularJS, React en Flux? 
    | En vind je het spannend om nauw samen te werken met onze Scala-developers om zo ook een topspeler te worden op het gebied van responsive applicaties en functional programming?  
p
    | Dan ben jij de geboren Full Stack Frontend Developer in spe en is dit jouw kans om de eerste stap te zetten als Young Professional Frontend Developer. 
h3 Het programma
p
    | Het Young Professional Frontend Developer programma is een tweejarig ontwikkelprogramma met als doel jou op te leiden 
    | en te begeleiden tot een succesvol vakman op gebied van Frontend Development. 
    | Je start – samen met vijf tot acht andere frontend developers in spe – in een frontend-klas. 
    | In de eerste vijf weken volgen jullie samen een intensief vakinhoudelijk introductie programma met veel hands-on ervaring, georganiseerd door onze eigen specialisten. 
    | Volgens de Scrum-methodiek leer je stap voor stap hoe je van een eenvoudige HTML-pagina een moderne responsive single page web applicatie met JavaScript en AngularJS kan maken. 
    | En dit allemaal met oog voor kwaliteit en vakmanschap met gebruik van automatische build, test en continuous integration tools. 
p
    | Vervolgens hebben we al een plek in een van onze speciale Young Professional-teams bij onze klanten voor jouw gereserveerd 
    | waar jouw code in de productie omgeving komt te draaien. Heel vaak is dat functionaliteit voor de klanten van onze klanten 
    | en wat is er leuker dan je familie en vrienden kunnen vertellen dat een bepaald deel van een publieke website door jou zelf is ontwikkeld.
p
    | Ook na het introductie programma blijven we flink in jouw ontwikkeling investeren (en jij natuurlijk ook). 
    | Full Stack- en DevOps-software ontwikkeling zien wij als sleutel voor succesvolle projecten.
    | Full Stack betekent voor ons dat je naast het goed worden in frontend, je ook backend weet te begrijpen en programmeren. 
    | Om toekomstvaste efficiënte code te schrijven is met name het functioneel programmeren belangrijk. 
    | En zo ligt er al een heel trainingsprogramma klaar, dat je introduceert in het Scala-ecosysteem van Akka tot en met Spark. 
    | Ook bij de ontwikkeling van de minder harde skills gaan wij jouw helpen: 
    | Je gaat jouw eigen talenten ontdekken door middel van intervisie trainingen gericht op de ontwikkeling van sociale en commerciële vaardigheden. 
    | Je kunt overigens ook vrijwel onbeperkt andere trainingen gaan volgen, ook na het Young Professional programma. Daar krijg je alle ruimte voor. 
h3 Hierom wil jij voor ons werken
p
    | En de werksfeer? Codestar is een kleine club van Full Stack Developers, die het verschil wil maken bij klanten op de gehele lijn, van frontend tot backend.
    | We doen daarbij niet aan rangen, standen en hokjes, maar gaan samen toffe dingen maken en veel kennis delen. Zo krijg je het beste van twee werelden: 
    | Het start-up-gevoel met een kleine club van gepassioneerde developers, en de doorgroeimogelijkheden en mooie klanten van een grote organisatie.
    | Waar het bij ons vooral om draait is: elegante code schrijven, innovatie toepassen en slimme oplossingen maken. 
    | En dat doen we met plezier en passie voor het vak. Met Innovatiedagen, brown bag-sessies, social events en de spontane borrel vrijdags op kantoor. 
    | Je krijgt bovendien alle ruimte om zelf trainingen en presentaties te gaan verzorgen en je te profileren in de markt.
p
    | Doe je mee? De eerstvolgende frontend-klas begint op 1 juni 2016. Solliciteer wel op tijd want er is een beperkt aantal plaatsen.
h3 #wiebenjij
ul.simple.vertical
    li Je houdt van code. Clean code, code die werkt;
    li Je durft uit je comfortzone te stappen en je bent niet bang om nieuwe wegen in te slaan;
    li Je gaat voor het resultaat, maar niet ten koste van kwaliteit;
    li Je hebt een afgeronde (liefst relevante) HBO- of WO-opleiding;
    li Je hebt maximaal twee jaar werkervaring;
    li Je hebt kennis van HTML5 en CSS en ervaring in een moderne programmeertaal.
h3 #ditverdienje
p
    | Wanneer je aan de slag gaat bij Ordina, bieden wij jou:
ul.simple.vertical
    li De ruimte om mee te bouwen aan zichtbare projecten in onze digitale wereld;
    li Een arbeidsovereenkomst voor onbepaalde tijd;
    li Een goed salaris en flexibel arbeidsvoorwaardenpakket;
    li Collectieve regelingen, waaronder winstdeling, pensioen en ziektekostenverzekering;
    li Alle faciliteiten om prettig te kunnen werken, zoals een laptop, telefoon en leaseauto / vervoersregeling.
h3 Selectieproces
p
    | Nadat je hebt gesolliciteerd, bekijken we jouw profiel. Vinden we jouw profiel passend genoeg, dan nemen we contact met je op om een eerste gesprek in te plannen bij Codestar. 
    | Voordat je op gesprek komt, vragen we je wel eerst om ons online assessment succesvol af te ronden. Deze test mag je thuis in alle rust maken en wanneer het jou uitkomt. 
    | Zijn zowel de test als het gesprek daarna positief? Dan gaan we alles in orde maken om jou hier snel te laten starten. 
h3 Interesse?
p
    | Solliciteer via onderstaande button. Eerst meer weten? Neem dan contact op met Erhan Çoban, te bereiken op: 06 -10 86 96 87. 
    | Een assessment kan onderdeel uitmaken van de sollicitatieprocedure. Het overleggen van een “Verklaring omtrent het Gedrag” (VOG) maakt onderdeel uit van de aanstellingsprocedure.
p
    | Is dit specifieke Young Professional programma toch niet helemaal wat je zoekt? Zoek dan verder naar een passende Young Professional-vacature. 
    | Weet je nog niet precies binnen welke expertise je je wilt ontwikkelen? Ook geen probleem. 
    | Solliciteer dan naar de Technische Young Professional Carrière of de IT Consulting Young Professional Carrière en we verkennen samen wat het beste bij jou zou passen.
p
    a(href='https://www.werkenbijordina.nl/nl-nl/vacatureaanbod/sollicitatieformulier/?pxsid=816069') Doe je mee?
    | Bellen of mailen met de betrokken business unit manager kan ook:
    a(href="mailto: martin.weidner@ordina.nl") Martin Weidner
    |.