h2
  | We program
p
  | We love our trade: programming. At the end of the day it's only the code thats count. We write that code. Clean code. Code that works. We program Scala but also TypeScript. JavaScript and sometimes Haskell. We are multilingual and not afraid of learning new languages.
h2 Our choice
