header
  h2 Why you want to program for us
ul.why
  li We dare to say it: we are good, very good
  li How we work, we decide it
  li We are never done learning
  li We know all the underlying principles of functional programming
  li We know all the underlying principles of object orientated programming
  li We share our passion at meetups and international conferences
