header
  h2 This is why you want to work for us
ul.why
  li We’re not afraid to say it out loud: We’re very, very good
  li We decide how we work
  li We’re never done learning
  li We know the underlying principles of functional programming
  li We know the underlying principles of object-oriented programming
  li We share our passion at events and at international conferences
