section#firstPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .small-12.large-4.columns.description
      header
        h3
          JIJ
        p
          | Wij zoeken teamspelers.
          | Gepassioneerd en leergierig.
          | Programmeurs die programmeren.
          | Hackers.
          | Ook in hun vrije tijd.
          | Omdat ze dat leuk vinden.
          | Maar ook mensen die het verschil willen en kunnen maken.
          | Vaklui die gaan voor resultaat, maar niet ten koste van kwaliteit.
          | Pioniers die uit hun comfort zone durven te stappen om nieuwe wegen in te slaan.
          | Functional. Reactive. Full Stack.
        ul.menu.simple.vertical.job_list_items
          li
            a(href='#', name='job_1') Ik.code("Scala")
          li
            a(href='#', name='job_2') Ik.code("Frontend")
    .small-12.large-4.columns.profile.slide-in.hide-on-mobile
      .panel-container
        .close-button x
        .close-button-mobile x
        .arrow-left
        .panel-content
          #job_1_content.job_content
            include ./jobs/job_1.jade
          #job_2_content.job_content
            include ./jobs/job_2.jade
