section#secondPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .small-12.large-12.columns
      center
        header
          h2 Wij
        #teamTree
        #teamInfo.row
          .large-3.show-for-large
          .small-12.large-6
            h3#teamName
            p#teamTagline
            p#teamDesc
          .large-3.show-for-large
        a.scroll-button.button.codestar-button(href='#join') Jij?
