section#thirdPage.special.section(data-scrollax-parent='true', style='display:none')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .small-12.large-4.columns
      +include_why_work
      a.scroll-button.button.codestar-button(href='#team') #{locals.config.tokens.WE}
    .large-4.show-for-large.columns
  center
    #solararrayContainer.noMouse
      #solararray.vertical-center
