section#thirdPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .small-12.large-4.columns
      header
        h2 Hierom wil jij voor ons werken
      ul.why
        li Wij durven het hardop te zeggen: wij zijn heel, heel goed.
        li
          | Wij zijn experts in Functional Programming Principles, vooral in combinatie met het Reactive Platform.
        li
          | Wij ontwikkelen state of the art Scala, JavaScript en Spark kennis bij onze programmeurs.
        li Ontwikkelen en delen onze visie op vakmanschap.
        li
          | Certificeren onze programmeurs in state of the art technology frameworks of the Scala Ecosystem (Scala,
          | Spark, Frontend)
        li Wij spreken op evenementen en (internationale) conferenties.
        li Wij hebben regelmatig R&D days met het hele team.
      center
        a.scroll-button.button.codestar-button(href='#team') Check out your future colleagues
    .large-4.show-for-large.columns
  center
    #solararrayContainer.noMouse
      #solararray.vertical-center
