section#fourthPage.special.section(data-scrollax-parent='true')
  //include debug.jade
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-3.show-for-large.columns
    .large-6.columns
      header
        h2
          | Wij programmeren
      p
        | Wij houden van ons vak: programmeren. Aan het einde van de dag telt alleen de code. Wij schrijven die code. Schone code. Code die werkt. Wij programmeren Scala, maar ook TypeScript. JavaScript en soms Haskell. Wij zijn meertalig en niet bang om nieuwe talen te leren.
      h2 Onze keuze
      p
        img(src='scala.png').stack-logo
        img(src='akka.png').stack-logo
        img(src='spray.png').stack-logo
        img(src='spark.png').stack-logo
        img(src='typescript.png').stack-logo
        br
        img(src='docker.png').stack-logo
        img(src='mesos.png').stack-logo
        img(src='aws.png').stack-logo
        img(src='cassandra.png').stack-logo
        img(src='kafka.png').stack-logo
      a.scroll-button.button.codestar-button(href='#why-work') Hierom wil jij voor ons werken
    .large-3.show-for-large.columns
