section#fourthPage.special.section(data-scrollax-parent='true',style='display:none')
  //include debug.jade
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-3.show-for-large.columns
    .large-6.columns
      header
        +include_attract
      p
        img(src='scala.png').stack-logo
        img(src='akka.png').stack-logo
        img(src='spray.png').stack-logo
        img(src='spark.png').stack-logo
        img(src='typescript.png').stack-logo
        br
        img(src='docker.png').stack-logo
        img(src='mesos.png').stack-logo
        img(src='aws.png').stack-logo
        img(src='cassandra.png').stack-logo
        img(src='kafka.png').stack-logo
      a.scroll-button.button.codestar-button(href='#why-work') #{locals.config.tokens.WHY_YOU_WOULD_WORK_FOR_US}
    .large-3.show-for-large.columns
