section#fourthPage.special.section(data-scrollax-parent='true')
  //include debug.jade
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .large-4.columns
      header
        h2
          | We don't optimize,
          br
          | we create better solutions
      p
        | Ons doel: de #1 partner voor Full Stack solutions in Nederland zijn.
      p
        | Jij en je collega’s vormen het
        img(src='logo-simple.svg').inline-logo
        | team. Hoe we werken, bepalen we zelf. Agile zijn is voor ons de basis van onze weg naar succes. Verantwoordelijkheid nemen, ambitieuze doelen stellen, flexibel zijn, kansen zien en pakken als ze voorbij komen. Wij durven het hardop te zeggen: wij zijn heel, heel goed.
      h2 The right stuff (NEED DUTCH TEXT)
      p
        img(src='scala.png').stack-logo
        img(src='akka.png').stack-logo
        img(src='spray.png').stack-logo
        img(src='spark.png').stack-logo
        img(src='typescript.png').stack-logo
      a.scroll-button.button.codestar-button(href='#why-work') Why you should work for us
    .large-4.show-for-large.columns
