section#fifthPage.special.section.active(data-scrollax-parent='true')
  include menu
  .content.row.align-middle.noMouse(data-scrollax="properties: { 'translateX': '-20%' }")
    //- #mouseIcon.show-for-large
      center
        img(src='Mouse.svg', width='25')
        p Scroll to navigate
    .large-3.show-for-large.columns
    .large-6.columns
      center
        // img with width and height so alt text will show when the image is still loading (only works in some browsers)
        img#logo(src='logo.svg', width='300', height='82', type='image/svg+xml', alt='CODE.STAR', title='CODE.STAR')
        // Not allowed by pug: include ../content/#{config.locale}/center.pug
        // Not allowed by pug: include #{config.paths.center}
        +include_center_main
        // Leaving this as an example of how to add an announcement:
        //+announcement_akka
        +announcement_simonacotin
  .large-3.show-for-large.columns
  .decorations
    #sunburstContainer.row.align-middle
      center.large-12.columns.no-padding
        #sunburst
  p.navigate-arrows.navigate-up #{locals.config.tokens.I_WANT_TO_PROGRAM}
  p.navigate-arrows.navigate-down #{locals.config.tokens.I_WANT_TO_TAKE_THE_NEXT_STEP}
  // <div id="sunburst3" data-scrollax="properties: { 'translateX': '20%' }">
  // <div id="sunburst2"></div>
  // </div> 
