section#fifthPage.special.section.active(data-scrollax-parent='true')
  include menu
  .content.row.align-middle.noMouse(data-scrollax="properties: { 'translateX': '-20%' }")
    //- #mouseIcon.show-for-large
      center
        img(src='Mouse.svg', width='25')
        p Scroll to navigate
    .large-3.show-for-large.columns
    .large-6.columns
      center
        object#logo(data='logo.svg', width='300', type='image/svg+xml')
        p
          | De mogelijkheden in de digitale wereld zijn eindeloos. Uitdagingen vaak complex. Wij ontwikkelen moderne software die simpel te gebruiken is. Agile en productief, met gebruik van de nieuwste technieken. Wij programmeren. Met ons hoofd én met ons hart. Voor organisaties die de volgende stap willen zetten.
        p
          | Wij zijn de #1 partner voor Full Stack Scala en Big Data oplossingen in Nederland. Wij zijn Codestar.
        p
          a.homePageLink(href='https://www.meetup.com/Code-Star-Night/', target='_blank') Meetup: Adventures in Elm (June 22)
          br
          | Join us for an evening with Jessica Kerr, an expert on functional programming, microservices and trade-offs in programming languages. This meetup should be interesting to all Full Stack Developers that are interested in a functional approach to frontend development.
    .large-3.show-for-large.columns
  .decorations
    #sunburstContainer.row.align-middle
      center.large-12.columns.no-padding
        #sunburst
  p.navigate-arrows.navigate-up Ik wil programmeren
  p.navigate-arrows.navigate-down Ik wil de volgende stap zetten
  // <div id="sunburst3" data-scrollax="properties: { 'translateX': '20%' }">
  // <div id="sunburst2"></div>
  // </div>
