section#fifthPage.special.section.active(data-scrollax-parent='true')
  include menu
  .content.row.align-middle.noMouse(data-scrollax="properties: { 'translateX': '-20%' }")
    //- #mouseIcon.show-for-large
      center
        img(src='Mouse.svg', width='25')
        p Scroll to navigate
    .large-3.show-for-large.columns
    .large-6.columns
      center
        // img with width and height so alt text will show when the image is still loading (only works in some browsers)
        img#logo(src='logo.svg', width='300', height='82', type='image/svg+xml', alt='CODE.STAR', title='CODE.STAR')
        p
          | De mogelijkheden in de digitale wereld zijn eindeloos. Uitdagingen vaak complex. Wij ontwikkelen moderne software die simpel te gebruiken is. Agile en productief, met gebruik van de nieuwste technieken. Wij programmeren. Met ons hoofd én met ons hart. Voor organisaties die de volgende stap willen zetten.
        p
          | Wij zijn de #1 partner voor Full Stack Scala en Big Data oplossingen in Nederland. Wij zijn Codestar.
        p
          a.homePageLink.high-contrast-link(href='https://goo.gl/8XNtUP', target='_blank') Meetup: Functional and reactive programming with André Staltz (September 28)
          br
          span.show-for-large Codestar invites you to an evening with André Staltz, a renowned expert on reactive programming and author/contributor to frameworks like Cycle.js and RxJS.
        p
          a.homePageLink.high-contrast-link(href='https://goo.gl/bJdhos', target='_blank') Training: Advanced RxJs with André Staltz (September 29)
          br
          span.show-for-large Join us for an advanced course on RxJS by core contributor André Staltz. This will not be an introduction to RxJS, but instead André will go deep into the basics, making sure those are well covered so that people can learn how to code simple and small code, instead of over-engineering.
  .large-3.show-for-large.columns
  .decorations
    #sunburstContainer.row.align-middle
      center.large-12.columns.no-padding
        #sunburst
  p.navigate-arrows.navigate-up Ik wil programmeren
  p.navigate-arrows.navigate-down Ik wil de volgende stap zetten
  // <div id="sunburst3" data-scrollax="properties: { 'translateX': '20%' }">
  // <div id="sunburst2"></div>
  // </div> 
