section#sixthPage.special.section(data-scrollax-parent='true', style='display:none')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .large-4.columns
      +include_next_step
      a.scroll-button.button.codestar-button(href='#features') #{locals.config.tokens.menu.WHY_WHAT_WE_DO_DOES_WORK}
    .large-4.show-for-large.columns
  img(src='Cloud01Crop.png').cloud.cloud1.noMouse
