section#eightPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-3.show-for-large.columns
    .small-12.large-6.columns
      center
        header
          h2 Cases
        #casesTree
        h3#caseName
        #caseDesc
    .large-3.show-for-large.columns
  .decorations2.noMouse
    img#curved-lines(src='Features_Curved_Lines.svg')
    img#big-lines(src='Features_BigLines.svg')
    img#small-lines(src='Features_SmallLines.svg')
  img(src='Cloud04Crop.png').cloud.cloud4.noMouse
  img(src='Cloud05.png').cloud.cloud5.noMouse
