section#eightPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-3.show-for-large.columns
    .large-6.columns.vertical-center-container
      center
        header
          h2 Cases
        #casesTree
        h3#caseName
        p#caseDesc
    .large-3.show-for-large.columns
