section#fifthPage.special.section.active(data-scrollax-parent='true')
  .fixed-menu
    span.asterisk *
    ul.menu.vertical
      li(data-menuanchor='firstPage')
        a.scroll-button(href='#center') Home
      li
        a.scroll-button(href='#difference') What sets us apart
      li
        a.scroll-button(href='#features') Our skills
      li
        a.scroll-button(href='#cases') Cases
      li.menu_divider
      li
        a.scroll-button(href='#attract') Our focus
      li
        a.scroll-button(href='#why-work') Why you want to work here
      li
        a.scroll-button(href='#team') Our team
      li
        a.scroll-button(href='#join') Jobs
      li
        a.scroll-button(href='#contact') Contact
  .content.row.align-middle.noMouse(data-scrollax="properties: { 'translateX': '-20%' }")
    #mouseIcon
      center
        img(src='Mouse.svg', width='25')
        p Scroll to navigate
    .large-3.show-for-large.columns
    .large-6.columns
      center
        object#logo(data='logo.svg', width='300', type='image/svg+xml')
        p
          | De mogelijkheden in de digitale wereld zijn eindeloos. Uitdagingen vaak complex. Wij ontwikkelen moderne webapps die simpel te gebruiken zijn Agile en productief, met gebruik van de nieuwste technieken. Met ons hoofd én met ons hart.
          | Voor organisaties die de volgende stap willen zetten en echt durven te veranderen, met coders die het onmogelijke mogelijk maken. Dag en nacht.
    .large-3.show-for-large.columns
  .decorations
    #sunburst
  // <div id="sunburst3" data-scrollax="properties: { 'translateX': '20%' }">
  // <div id="sunburst2"></div>
  // </div>
