section#ninthPage.special.section(data-scrollax-parent='true')
  .content.row(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-3.show-for-large.columns
    .large-4.columns.contact_form_container(style='height: 100%')
      header
        h2 Contact
      p
        | Are you in desperate need of top-notch coding? Or just looking for a chat and a big bucket of coder's coffee? Now you know where to find it!
      form#contact_form
        .row
          .medium-6.columns
            input.form-input(type='text', placeholder='Voornaam')
            input.form-input(type='text', placeholder='Bedrijfsnaam')
          .medium-6.columns
            input.form-input(type='text', placeholder='Achternaam')
            input.form-input(type='text', placeholder='Telefoonnummer')
          .medium-12.columns.columns-space
            input.form-input(type='text', placeholder='E-mailadres')
          .medium-12.columns.columns-space
            input.form-input(type='text', placeholder='Onderwerp')
            textarea#bericht.form-input(placeholder='Bericht')
        #form-buttons
          a.button.codestar-button(href='#') Alles Wissen
          input.button.codestar-button(type='submit', value='Verstuur Bericht')
    .large-1.show-for-large.columns
    .large-4.show-for-medium.columns.map_container
      #map
      table.contact_data_table
        colgroup
          col(style='width:13%')
          col(style='width:50%')
          col(style='width:37%')
        tbody
          tr
            td.contact_icon
              img(src='Contact_MailIcon.svg', width='35')
            td.contact_info INFO@CODESTAR.NL
            td.contact_button
              a.button.codestar-button(href='#') Sla gegevens op
          tr
            td.contact_icon
              img(src='Contact_PhoneIcon.svg', width='35')
            td.contact_info +31 30 6637000
            td.contact_button
              a.button.codestar-button(href='#') Bel direct
          tr
            td.contact_icon
              img(src='Contact_LocationIcon.svg', width='30')
            td.contact_info RINGWADE 1, 3439 LM NIEUWEGEIN
            td.contact_button
              a.button.codestar-button(href='#') Bepaal route
