section#ninthPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-3.show-for-large.columns
    .small-12.large-4.columns.contact_form_container(style='height: 100%')
      .success.callout.email-success(data-closable='slide-out-right')
        h5 Your email has succesfully been sent!
        p Thank you for contacting us, we will respond within 72 hours.
        button.close-button(aria-label='Dismiss alert', type='button', data-close='')
          span(aria-hidden='true') ×
      .alert.callout.email-fail(data-closable='slide-out-right')
        h5 Something went wrong while sending your e-mail
        p Please check the values and try again.
        button.close-button(aria-label='Dismiss alert', type='button', data-close='')
          span(aria-hidden='true') ×
      header
        h2 Contact
      p
        | Are you in desperate need of top-notch coding? Or just looking for a chat and a big bucket of coder's coffee? Now you know where to find it!
      form#contact_form(data-abide, novalidate, method="POST", action="#")
        .row
          .medium-6.columns
            span
              input.form-input(type='text', placeholder='Voornaam', name='Voornaam', required='', pattern='[a-zA-Z]+')
              span.form-error
                | Please fill in your name.
          .medium-6.columns
            span
              input.form-input(type='text', placeholder='Achternaam', name='Achternaam', required='', pattern='[a-zA-Z]+')
              span.form-error
                | Please fill in your last name.
          .medium-6.columns
            span
              input.form-input(type='text', placeholder='Bedrijfsnaam', name='Bedrijfsnaam')
          .medium-6.columns
            span
              input.form-input(type='text', placeholder='Telefoonnummer', name='Telefoonnummer', pattern='number')
              span.form-error
                | Please fill in a valid phone number.
          .medium-12.columns.columns-space              
            input.form-input(type='email', placeholder='E-mailadres', required='', name='E-mailadres', pattern='email')
            span.form-error
              | Please fill in a valid email address.
          .medium-12.columns.columns-space
            textarea#bericht.form-input(placeholder='Bericht', required='', name='Bericht')
            span.form-error
              | Please fill in a message.
        #form-buttons
          button.button.codestar-button(type='reset', value='Alles Wissen') Alles Wissen
          input.button.codestar-button(type='submit', value='Verstuur Bericht')
    .large-1.show-for-large.columns
    .small-12.large-4.columns.map_container
      #map
      .contact_data_table
        table
          colgroup
            col(style='width:13%')
            col
            col(style='width:10em; text-align:right')
          tbody
            tr
              td.contact_icon
                img(src='Contact_MailIcon.svg', width='35')
              td.contact_info INFO@CODESTAR.NL
              td.contact_button
                a.button.codestar-button(href='mailto:infos@codestar.nl') Stuur E-mail
            tr
              td.contact_icon
                img(src='Contact_PhoneIcon.svg', width='35')
              td.contact_info +31 30 6637000
              td.contact_button
                a.button.codestar-button(href='tel:0031306637000') Bel direct
            tr
              td.contact_icon
                img(src='Contact_LocationIcon.svg', width='30')
              td.contact_info RINGWADE 1, 3439 LM NIEUWEGEIN
              td.contact_button
                a.button.codestar-button(href='https://goo.gl/maps/4g4TKbZ2LfF2', target='_blank') Bepaal route
