section#seventhPage.special.section(data-scrollax-parent='true')
  center.content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .small-12.large-4.columns
      center
        #featureList
    .large-4.show-for-largecolumns
