section#seventhPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.columns
    .large-4.columns
      center
        #featureList
    .large-4.columns
