section#firstPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-1.show-for-large.columns
    .small-12.large-4.columns.description
      header
        h2 Al enthousiast?
      h3 We zijn op zoek naar programmeurs
      ul.menu.vertical.key_skills
        li
          span
            | die de sociale vaardigheden hebben om het verschil te maken. Programmeurs die van hun werk houden,
            | nooit uitgeleerd zijn, proactief en resultaatgedreven zijn. Programmeurs die kunnen communiceren
            | en samen willen werken met anderen.
        li
          span
            | die nog code schrijven in plaats van diagrammen. Programmeurs die zich niet beperken maar de full stack
            | omarmen.
        li
          span
            | die JavaScript of Scala spreken als een moedertaal en de onderliggende functionele principes begrijpen.
    .small-12.large-3.columns.job_openings
      ul.menu.simple.vertical.job_list_items
        li
          a(href='#', name='job_1') Backend Scala Programmeur
        li
          a(href='#', name='job_2') Frontend Javascript Programmeur
    .small-12.large-4.columns.profile.slide-in.hide-on-mobile
      .panel-container
        .close-button x
        .close-button-mobile x
        .arrow-left
        .panel-content
          h2#profile Jouw Profiel
          .profile-list
          h2 Ons Aanbod
          .offer-list
