section#firstPage.special.section(data-scrollax-parent='true')
  .content.row(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-1.show-for-large.columns
    .large-4.columns.description
      .vertical-center
        header
          h2 Like what you see? Join us!
        h3 We are looking for developers that:
        ul.menu.vertical.key_skills
          li  
            span
              | Have the social skills to make a difference: passionate,
              | continously learning, proactive, resultdriven, communicative
              | and a real teamplayer.
          li
            span
              | Have the hands-on experience to become an expert full
              | stack reactive developer.
          li
            span
              | Fluent in frontend (JavaScript) or backend (Scala) reactive
              | application stack
          li
            span
              | Fluent in functional programming principles
    .large-3.columns.job_openings
      ul.menu.simple.vertical.job_list_items
        li
          a(href='#') Backend Developer Scala
        li
          a(href='#') Frontend Developer Scala
        li
          a(href='#') Java Animation Designer
    .large-4.columns.profile.slide-in
      .panel-container
        .close-button x
        .arrow-left
        .panel-content
          h2 Jouw Profiel
          ul.simple.vertical
            li Je hebt een een afgeronde technische HBO of WO opleiding
            li Minimaal 2 jaar relevante werkervaring
            li Je hebt passie voor techniek, verstand van je vak en een polyglot mindset.
            li
              | Je hebt hands on ervaring met state of the art technologie in het Javascript ecosysteem, zoals Typescript
              | (sorry, no Dart, Dart is dead ;), lodash, React, Knockout, Bootstrap en natuurlijk AngularJS.
            li
              | Je weet alles van HTML5, LESS of SASS en hoe je een architectuur in elkaar moet zetten om een responsive
              | website te bouwen, met of zonder Material Design.
            li
              | En ja, wij zoeken vakmensen, die JavaScript serieus nemen en voor wie Continuous Integration en Unit
              | Testing vanzelf sprekend onderdeel uitmaken van hun ‘definition of done’.
            li
              | Jij kunt een klant adviseren over welke oplossing het beste past en je bent in staat deze keuze zowel
              | technisch als vanuit een klant perspectief te onderbouwen.
          h2 Ons Aanbod
          p
            | Uiteraard kun je ook bij ons rekenen op een goed pakket aan arbeidsvoorwaarden, maar dat is niet meer dan
            | normaal. Bel of mail ons gerust als je wilt weten hoe dit pakket er voor jou precies uit kan zien. Naast het
            | ‘zakelijke deel’ ziet ons aanbod er als volgt uit:
          ul.simple.vertical
            li Het startupgevoel, maar met Ordina achter je
            li
              | Alle ruimte om je als ‘meester’ te vestigen, kleur te geven
              | aan het vak en de lat hoog te leggen.
            li
              | Een technische manager, die jouw taal spreekt en je bege
              | leidt met oprechte aandacht voor jouw ideeën en verdere
              | carrièrewensen.
            li
              | veel technische trainingen (volgen én geven), waarbij je
              | ook je collega’s tegenkomt
