section#firstPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-1.show-for-large.columns
    .small-12.large-4.columns.description
      header
        h2 Like what you see? Join us!
      h3 We are looking for developers that:
      ul.menu.vertical.key_skills
        li
          span
            | Have the social skills to make a difference: passionate,
            | continously learning, proactive, resultdriven, communicative
            | and a real teamplayer.
        li
          span
            | Have the hands-on experience to become an expert full
            | stack reactive developer.
        li
          span
            | Fluent in frontend (JavaScript) or backend (Scala) reactive
            | application stack
        li
          span
            | Fluent in functional programming principles
    .small-5.large-3.columns.job_openings
      ul.menu.simple.vertical.job_list_items
        li
          a(href='#', name='job_1') Backend Developer Scala
        li
          a(href='#', name='job_2') Frontend Developer Scala
        li
          a(href='#', name='job_3') Java Animation Designer
    .small-7.large-4.columns.profile.slide-in
      .panel-container
        .close-button x
        .arrow-left
        .panel-content
          h2#profile Jouw Profiel
          .profile-list
          h2 Ons Aanbod
          .offer-list
