#fixed-menu.fixed-menu
    div.asterisk
      img#asterisk-image(src='asterisk.png')
      img#menu-logo(src='logo-simple-menu.svg')
    ul.menu.vertical
        li
            a.scroll-button(href='#join')
                // img(src='logo-simple.svg').inline-logo.inline-logo-nomargin
                | CODESTAR.add(you)?
        li
            a.scroll-button(href='#team') Wij
        li
            a.scroll-button(href='#why-work') Hierom wil jij voor ons werken
        li
            a.scroll-button(href='#attract') We don't optimize, we create better solutions
        li.menu_divider
        li
            a.scroll-button(href='#center') Home
        li.menu_divider
        li
            a.scroll-button(href='#difference') Tijd om de volgende stap te zetten
        li
            a.scroll-button(href='#features') Waarom wat wij doen wel werkt
        li
            a.scroll-button(href='#cases') Cases
        li
            a.scroll-button(href='#contact') Contact
