.fixed-menu
    span.asterisk *
    ul.menu.vertical
        li
            a.scroll-button(href='#join') Jobs
        li
            a.scroll-button(href='#team') Our team
        li
            a.scroll-button(href='#why-work') Why you want to work here
        li
            a.scroll-button(href='#attract') Our focus
        li.menu_divider
        li
            a.scroll-button(href='#center') Home
        li
            a.scroll-button(href='#difference') What sets us apart
        li
            a.scroll-button(href='#features') Our skills
        li
            a.scroll-button(href='#cases') Cases
        li
            a.scroll-button(href='#contact') Contact
