#fixed-menu.fixed-menu
    div.asterisk
      img#asterisk-image(src='asterisk.png')
      img#menu-logo(src='logo-simple-menu.svg')
    ul.menu.vertical
        li
            a.scroll-button(href='#join') Jij?
        li
            a.scroll-button(href='#team/teamGraph') Wij
            ul
                li
                    a.scroll-button(href='#team/ourstuff') Our Stuff
                li
                    a.scroll-button(href='#team/videos') Videos
                li
                    a.scroll-button(href='#team/galleryA') Onze Momenten
                li
                    a.scroll-button(href='#team/launchevent') Launch Event
                li
                    a.scroll-button(href='#team/akkathon') Akkathon
        li
            a.scroll-button(href='#why-work') Hierom wil jij voor ons programmeren
        li
            a.scroll-button(href='#attract') Wij programmeren
        li.menu_divider
        li
            a.scroll-button(href='#center') Home
        li.menu_divider
        li
            a.scroll-button(href='#difference') Tijd om de volgende stap te zetten
        li
            a.scroll-button(href='#features') Waarom wat wij doen wel werkt
        li
            a.scroll-button(href='#cases') Cases
        li
            a.scroll-button(href='#contact') Contact
