section#fourthPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .large-4.columns
      header
        h2
          | We don't optimize,
          br
          | we create better solutions
      p
        img(src='logo-simple.svg', width='58', style='margin-bottom: -1px')
        |  focuses on expert knowledge upon a chosen
        |             technology stack. With our passion for coding as a motor, we are able to
        |             deliver outstanding results for our clients in the most efficient way. We build resilient, fast and consistent
        |             microservice architectures from backend to frontend.
      p We love code and use it to make a difference to our clients.
      a.scroll-button.button.codestar-button(href='#why-work') Why you should work for us
    .large-4.show-for-large.columns
  .decorations
