section#fourthPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .large-4.columns
      header
        h2
          | We don't optimize,
          br
          | we create better solutions
      p
        | Ons doel: de #1 partner voor Full Stack solutions in Nederland zijn.
      p
        | Jij en je collega’s vormen het&nbsp;
        img(src='logo-simple.svg', style='margin-bottom: -1px').inline-logo
        | &nbsp;team. Hoe we werken, bepalen we zelf. Agile zijn is voor ons de basis van onze weg naar succes. Verantwoordelijkheid nemen, ambitieuze doelen stellen, flexibel zijn, kansen zien en pakken als ze voorbij komen. Wij durven het hardop te zeggen: wij zijn heel, heel goed.
      h3 Competenties
      p
        | Programmeurs met passie voor het vak - experts in functional programming - state of the art kennis van Scala, Javascript en Spark - internationale evenementen en conferenties - hacken met het hele team - gepassioneerd - leergierig - pro-actief - resultaat gedreven - communicatief - teamspeler.
      center
        a.scroll-button.button.codestar-button(href='#why-work') Why you should work for us
    .large-4.show-for-large.columns
  .decorations
