script.
      function initMap() {
      var latLng = {lat: 52.0577800, lng: 5.11108};
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
      center: latLng,
      zoom: 16,
      scrollwheel: false,
      });
      new google.maps.Marker({
      position: latLng,
      map: map
      });
      }
script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async='', defer='')
