section#sixthPage.special.section(data-scrollax-parent='true')
  .content.row(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .large-4.columns
      .vertical-center
        header
          h2 What sets us apart!
        p
          | IT is meer dan ooit de drager, bezorger en verrijker van je business. Zonder een excellente digitale infrastructuur loop je al snel achter. Data in overvloed, waar begin je ?
          | Vroeger was het een kwestie van een emmer pakken, naar de vijver lopen en er water uit scheppen, als iemand vroeg om water.
          | Tegenwoordig hebben we te maken met een waterval aan data. Succes met je emmer.
        p
          | Het mooie is dat niet alleen de hoeveelheid data is gegroeid maar ook de technieken om ermee te werken. Het moderne internet, mobiel gebruik en 'internet of things' vraagt om meer.
          | Bij 
          img(src='logo-simple.svg', width='58', style='margin-bottom: -1px')
          |  werken wij met Scala, Javascript en BigData technologie aan moderne webapps waarmee u uitdagingen niet meer uit de weg hoeft te gaan en ver voor bent op de rest.
        a.scroll-button.button.codestar-button(href='#features') What we offer
    .large-4.show-for-large.columns
