section#secondPage.special.section(data-scrollax-parent='true')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-3.show-for-large.columns
    .large-6.columns
      center
        header
          h2 Wij
        #teamTree
        h3#teamName
        p#teamTagline
        p#teamDesc
        a.scroll-button.button.codestar-button(href='#join') Iets voor jou?
    .large-3.show-for-large.columns
