section#thirdPage.special.section(data-scrollax-parent='true')
  .content.row.large-collapse(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-2.show-for-large.columns
    .large-5.columns
      .vertical-center
        header
          h2 Why you should work for us.
        ul.why
          li Wij durven het hardop te zeggen: wij zijn heel, heel goed.
          li
            | Wij zijn expert in Functional Programming Principles, vooral in combinatie met het Reactive Platform.
          li
            | Wij ontwikkelen state of the art Scala, JavaScript en Spark kennis bij onze programmeurs.
          li Ontwikkelen en delen onze visie op vakmanschap.
          li
            | Certificeren onze programmeurs in state of the art technology frameworks of the Scala Ecosystem (Scala,
            | Spark, Frontend)
          li Wij spreken op evenementen en (internationale) conferenties.
          li Wij hebben regelmatig R&D days met het hele team.
    .large-3.columns
      .vertical-center
        dl.work-arguments
          dt Ons doel
          dd De #1 partner voor Full Stack solutions in Nederland zijn.
          dt Structuur
          dd
            | Jij en je collega's vormen het 
            img(src='logo-simple.svg', width='58', style='margin-bottom: -1px')
            |  team.
            |               Hoe we werken bepalen we zelf. Agile zijn is voor ons de basis van onze weg naar succes.
            |               Verantwoordelijkheid nemen, ambitieuze doelen stellen, met de nodige flexibiliteit om te veranderen, kansen
            |               te zien en pakken als ze voorbij komen.
        a.scroll-button.button.codestar-button(href='#team') Check out your future colleagues
    .large-2.show-for-large.columns
  center
    #solararrayContainer.noMouse
      #solararray.vertical-center
